div {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 30%;
  margin: 2rem;
  background-color: var(--color0);
  z-index: 0;
  & img {
    justify-self: center;
  }
  & h4 {
    text-align: center;
  }
  & h2 {
    justify-self: center;
    align-self: center;
  }
}