.last-search {
  position: absolute;
  width: 100%;
  height: 48%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr;
  padding-left: .7rem;
}
.view-history {
  position: absolute;
  top: 48%;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr;
  padding-left: .7rem;
}
.div-no-results {
  position: absolute;
  display: grid;
  width: 100%;
  height: 48%;
  padding-top: .3rem;
  padding-left: .7rem;
  padding-right: .7rem;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr;
  & img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    align-self: center;
    justify-self: center;
  }
}
.div-first-time {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-row: 1 / 3;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;
  & h1 {
    font-size: 4vh;
    align-self: center;
    justify-self: center;
  }
  & img {
    justify-self: center;
    align-self: end;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    filter: saturate(0);
  }
}
h4 {
  align-self: center;
}
.books {
  position: relative;
  height: 100%;
  width: auto;
  gap: .5rem;
  display: flex;
  overflow-x: auto;
  padding-bottom: .3rem;
  padding-top: .3rem;
}
.book {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 75% 25%;
  background-color: var(--color0);
  border-radius: .8rem;
  transition: box-shadow .3s ease;
  animation: appearAnim 2.5s ease;
}
.books::-webkit-scrollbar {
  height: 5px;
  border-radius: 10px;
}
.books::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color2);
}
.book:hover {
  box-shadow: -2px 2px 10px #00000025, 2px 2px 10px #00000025, 0px -2px 10px #00000025;
}
.back-img {
  display: grid;
  will-change: filter;
  opacity: 0;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1 / 3;
  background-size: 150% 150%;
  border-radius: .8rem;
  background-position: center;
  transition: opacity 0.3s ease; 
}
.book:hover .back-img {
  opacity: 100%;
}
.back-img::before {
  display: grid;
  will-change: filter;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: .8rem;
  backdrop-filter: blur(20px ); 
  background-color: rgba(255, 255, 255, 0.493); 
}
.book:hover .div-img img {
  box-shadow: 0 5px 20px #00000033;
}
.div-img {
  position: relative;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  width: 10rem;
  height: 100%;
  padding: .4rem;
  & img {
    position: absolute;
    justify-self: center;
    align-self: center;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    transition: box-shadow .4s ease;
  }
}
.div-info {
  position: relative;
  display: grid;
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
  & h4 {
    display: -webkit-box;           
    -webkit-box-orient: vertical;   
    -webkit-line-clamp: 2;          
    overflow: hidden;               
    text-overflow: ellipsis; 
    height: 2.2rem;          
    max-height: 2.5em;
    max-width: 9rem;   
  }
}
.return {
  position: fixed;
  display: grid;
  text-align: center;
  right: 1rem;
  top: 11.5vh;
  height: 3vh;
  width: 5rem;
  min-width: 2rem;
  font-size: 2vh;
  padding-top: .6vh;
  border-style: none;
  background-color: var(--color1);
  color: var(--color5);
  border-radius: 1rem;
  z-index: 2;
  box-shadow: -2px 2px 10px #00000025, 2px 2px 10px #00000025;

}
.return:hover {
  background-color: var(--color2);
}
@keyframes appearAnim {
  from {
    opacity: 0;
  } to {
    opacity: 100%;
  }
}