

.loadingio-spinner-dual-ring {
  position: absolute;
  width: 50vh;
  height: 50Vh;
  display: flex;
  overflow: hidden;
  justify-self: center;
  align-self: center;
  background: #ffffff;
  animation: hideAnim .3s .8s ease forwards;
}
.div-no-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  justify-self: center;
  align-self: center;
  animation: showAnim .3s .9s ease forwards;
  & h1 {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 3.5vh;
  }
  & img {
    justify-self: center;
    align-self: center;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
}
.div-all-results-view {
  position: absolute;
  display: grid;
  grid-template-rows: 5% 1fr;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  animation: showAnim .3s .9s ease forwards;
}
.div-config {
  display: flex;
  font-size: 2vh;
  padding-left: 1rem;
  color: var(--color0);
  background-color: var(--color5);
}
.div-all-results {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  gap: 1rem;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 1rem;
  padding-bottom: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  & .book {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 40% repeat(3, auto);
    grid-template-areas: 
      "i t1"
      "i t2"
      "i t3"
      "i t4";
    background-color: var(--color0);
    animation: appearAnim 0.5s ease;
    border-radius: .8rem;
    & .back-img {
      display: grid;
      will-change: filter;
      opacity: 0;
      height: 100%;
      width: 100%;
      grid-column: 1 / 3;
      grid-row: 1 / 5;
      background-size: 150% 150%;
      border-radius: .8rem;
      background-position: center;
      transition: opacity 0.3s ease; 
    }
    & .div-img {
      position: relative;
      display: grid;
      grid-area: i;
      width: 8rem;
      height: 100%;
      padding: .2rem;
      & img {
        position: absolute;
        justify-self: center;
        align-self: center;
        width: 90%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
      }
    }
    & .back-img::before {
      display: grid;
      will-change: filter;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: .8rem;
      backdrop-filter: blur(30px ); 
      background-color: rgba(255, 255, 255, 0.493); 
    }
    & h4 {
      display: -webkit-box;           
      -webkit-box-orient: vertical;   
      -webkit-line-clamp: 3;          
      overflow: hidden;               
      text-overflow: ellipsis;
      height: 4.5em;
      max-height: 100%;
      padding-left: .3rem;
      padding-top: 1rem;
      padding-right: .5rem;
      z-index: 2; 
    }
    & h5 {
      display: -webkit-box;           
      -webkit-box-orient: vertical;   
      -webkit-line-clamp: 2;   
      overflow: hidden;               
      text-overflow: ellipsis;
      height: 2.8em;
      max-height: 100%;
      padding-left: .3rem;
      padding-top: .2rem;
      padding-right: .5rem;
      z-index: 2; 
      align-items: center;
    }
    & h6 {
      display: flex;
      width: 100%;
      z-index: 2; 
      align-items: center;
      padding-right: .5rem;
    }
  }
  & .book:hover .back-img {
    opacity: 100%;
  }
  .book:hover {
    box-shadow: -2px 2px 10px #00000025, 2px 2px 10px #00000025, 0px -2px 10px #00000025;
  } 
}
.to-up {
  position: fixed;
  display: flex;
  z-index: 3;
  font-size: 2vh;
  bottom: 7vh;
  right: 3vw;
  height: 5.5vh;
  width: 5.5vh;
  transform: rotateZ(90deg);
  align-items: center;
  justify-content: center;
  border-style: none;
  border-radius: 1rem;
  background-color: var(--color1);
  box-shadow: -2px 2px 10px #00000025, 2px 2px 10px #00000025;
}
.to-up:hover {
  background-color: var(--color2);
}
.div-all-results::-webkit-scrollbar {
  height: 5px;
  border-radius: 10px;
}

.div-all-results::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color2);
}

.ldio > div {
  position: relative;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #53cbf7 transparent #53cbf7 transparent;
  animation: ldio 2s ease infinite;
}

.ldio {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio div { 
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
  box-sizing: content-box; 
}
@keyframes ldio {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
@keyframes hideAnim {
  from {
    opacity: 1;
    visibility: visible;
  } to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes showAnim {
  from {
    opacity: 0;
    visibility: hidden;
  } 
  to {
    opacity: 1;
    visibility: visible;
  }
}