/* You can add global styles to this file, and also import other style files */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
:root {
  --color0: #dcf5fc;
  --color1: #a3edfc;
  --color2: #53cbf7;
  --color3: #2bb3e5;
  --color4: #1078a6;
  --color5: #005c88;
}
body {
  position: absolute;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
  & router-outlet {
    grid-area: a;
  }
  & app-root {
    position: relative;
    grid-area: a;
    height: 100%;
    width: 100%;
    & app-home {
      position: absolute;
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 1fr 5vh;
    }
  }
}
app-books-home {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-rows: 50% 50%;
  //grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}