app-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  overflow-y: auto;
  z-index: 0;
}
app-header, app-footer {
  z-index: 2;
}